*{
    margin: 0;
    padding:0;
    
}
html{
    font-family: Arial, Helvetica, sans-serif;

}
h1{
    font-size: 32px;
    
}
@media only screen and (max-width:600px){
    .main-container {
        max-width:100% ;
      }
}
@media only screen and (min-width:600px){
    .main-container {
        max-width:450px ;
      }
}
@media only screen and (min-width:768px){
    .main-container {
        max-width:720px ;
      } 
}
@media only screen and (min-width:992px){
    .main-container {
        max-width:960px ;
      }
    
}
@media only screen and (min-width:1200px){
    .main-container {
      max-width:1110px ;
    }
}

.main-container {
    width: 1200px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    padding: 10px;
}

.bio{
    margin-top: 30px;
    margin-bottom:15px ;
    color: #5386E4;
    font:normal normal normal 30px/1.4em spinnaker,sans-serif;
    font-size: 40px;
    text-align: center;
    letter-spacing: 0.2em;
}
.str{
    width: 100%;
    position: relative;
    top: 0;
    bottom: 0;
   }

 .bio::after{
    content:'';
    background: #5386E4;
    display: block;
    height: 1px;
    width: 900px;
    margin: 40px auto 5px;
}
img{
    float: left;
    margin-top: 50px;
    
    
}
.par1{
    width:224px;
    height: 300px;
    float: left;
    margin-top: 50px;
    margin-left: 30px;
    letter-spacing: 0.08em;
    font-size: 14px;
    line-height: 2em;
    vertical-align: baseline;
   font-family: 'palatino linotype',serif;
    color: #3D3D3D;
    pointer-events: auto;
    text-align: start;
}
.par2{
    width:224px;
    height: 300px;
    float: left;
    margin-top: 50px;
    margin-left: 30px;
    letter-spacing: 0.08em;
    font-size: 14px;
    line-height: 2em;
    vertical-align: baseline;
   font-family: 'palatino linotype',serif;
    color: #3D3D3D;
    pointer-events: auto;
    text-align: start;
   
}
.section2{
    top:0;
    bottom: 0;
    width: 100%;
     position: relative;
     height: 580px;
    background-color:#f6f6f6;
}
.content{
    width:900px;
    margin-left:105px;
   
}